* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.App {
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

button {
    margin-left: 3px;
    border-radius: 3px;
}

#add {
    margin-top: 3px;
}

ul {
    list-style: none;
    line-height: 1.6;
    padding: 0;
}